* {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Color Pallete */
:root {
  --blue: #05283f; 
 --dark-orange: #ff6f3c;  
 --light-blue: #2f8fdd; 
 --yellow: ##fdb44b; 
}

/* Main Container for Body */
.container{
  display: grid;
  grid-template-columns: 2fr 11fr;
  /* grid-template-columns: 1fr 4fr 1.5fr; */
  grid-template-rows: 1fr 2fr 2fr;
}

/* Left Navigation Bar */
  nav{
    grid-column: 1;
    grid-row: 1 / 4;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 3fr 6fr;
    background-color: var(--light-blue);
    padding-left: 20px;
    padding-right: 30px;
  }

  a:link{
    color:whitesmoke;
    text-decoration: none;
    font-weight: bold;
  }
a:active{
  color:whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

  .logo {
    color: whitesmoke;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    font-size: 15px;
    /* align-items: start;
    padding-top: 25px; */
    height: 90px;

  }
  .logo img{
    width: 40px;
    margin-right: 5px;
  }

  .navLinks{
    grid-row: 2/3;
  }

  .supLinks{
    grid-row: 3/4;
  }

  .navLinks, 
  .supLinks{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .linkList div{
    margin-bottom: 1.2rem;
  }

  .icon{
    margin-right: 10px;

  }

  header {
    grid-row: 1/2;
    grid-column: 2/4;
    display: grid;
    padding: 20px;
  }

  /* Header Elements */

.headUp{
  grid-row: 1/2;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}
#search{
  align-items: center;
  grid-template-columns: 17px 1fr 60px;
  gap: 5px;
}
input[type = text]{
  background-color:  rgb(229, 235, 243);
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
}

input[type=text]:focus{
  border: 1px solid var(--dark-orange);
}

.searchBtn{
  text-align: center;
}

.user{
  font-weight: bold;
}

.headDown{
  grid-row: 2/3;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}
header div {
  display: grid;
  grid-auto-flow: column;
}

#userInfo{
  grid-template-columns: auto 1fr;
}
#userGreeting{
  grid-auto-flow: row;
  grid-template-rows: 1.5rem 1.5rem;
  font-weight: bold;
  align-items: center;
  margin-left: 15px;
}

#greeting {
  font-size: 0.8rem;
  margin: 0px;
}

.profilePic,
.trendingPics{
  border-radius: 50%;
  box-shadow: 1px 2px 4px 1px rgb(116, 116, 116);
}

#smallPic{
  width: 40px;
}

#bigPic{
  width: 50px;
}

/* Main Content: Cards */

.secondContainer{
  grid-row:2/4 ;
  display: grid;
  grid-template-columns: 8fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: columns;
  background-color: rgb(229, 235, 243);
  box-shadow: inset 0px 3px 6px rgb(116, 116, 116);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 30px;
  gap: 20px;
}

.content{
  grid-row: 1/3 ;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 2rem 1fr;
} 

.cardsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: rows;
  gap: 20px;
    
}

.card{
  background-color: white;
  border-radius: 8px;
  border-left: solid 8px orange;
  box-shadow: 2px 2px 5px rgb(214, 213, 213);

}
.card img{
  height: 24px;
  width: auto;
}
.title{
  font-weight: bold;
  font-size: 1.1rem; 
}

.card .title {
  font-size: 0.9rem;
}

.cardText{
 color: rgb(75, 74, 74);
}

.button, 
button[type=submit]{
  align-items: center;
  background-color: var(--light-blue);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  max-height: 1.75rem;
  min-height: 25px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button:focus ,
 button[type=submit]:hover, 
 button[type=submit]:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button:active, 
button[type=submit]:active{
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button:disabled,
button[type=submit]:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

/* Announcements */
.announcements{
  grid-row: 1/2;
  display: grid;
  grid-auto-flow: rows;
  grid-template-rows: 2rem 1fr;
}

.announcementsContainer,
.trendsContainer{
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgb(214, 213, 213);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

/* Trending */
.trending{
  grid-row: 2/3;
  display: grid;
  grid-auto-flow: rows;
  grid-template-rows: 2.2rem 1fr;

}
.trend{
  display:grid;
  grid-template: 1fr / 50px 1fr;
}
.trendingPics{
  border-radius: 50%;
  height: 45px;
  grid-column: 1/3;
  grid-row: 1/3;
}
.userName{
  grid-column: 2/3;
  grid-row: 1/2;
}

.trendText{
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 350;
  color:rgb(74, 74, 74);
}

.announcementText{
  font-weight: 350;
  color:rgb(74, 74, 74);
}